DATABASE_URL="postgresql://postgres:postgres@localhost:5433/photo_portfolio"
AUTH_SECRET=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
NEXT_PUBLIC_CDN_URL=""